In [11]:
import geopandas as gpd
import pandas as pd

In [2]:
import pathlib
pathlib.Path()

PosixPath('.')

In [3]:
NOTEBOOK_PATH = pathlib.Path().resolve()
DATA_MAPPE = NOTEBOOK_PATH / "geop"

In [6]:
data_set = gpd.read_file(DATA_MAPPE / "myr.gpkg")

In [17]:
myr = gpd.read_file(DATA_MAPPE / "myr.gpkg")
innsjo = gpd.read_file(DATA_MAPPE / "innsjo.gpkg")
apentomrade = gpd.read_file(DATA_MAPPE / "apentomrade.gpkg")
dyrketmark = gpd.read_file(DATA_MAPPE / "dyrketmark.gpkg")
gravplass = gpd.read_file(DATA_MAPPE / "gravplass.gpkg")
havflate = gpd.read_file(DATA_MAPPE / "havflate.gpkg")
industriomrade = gpd.read_file(DATA_MAPPE / "industriomrade.gpkg")
skog = gpd.read_file(DATA_MAPPE / "skog.gpkg")
sportidrettplass = gpd.read_file(DATA_MAPPE / "sportidrettplass.gpkg")
steinbrudd = gpd.read_file(DATA_MAPPE / "steinbrudd.gpkg")
tettbebyggelse = gpd.read_file(DATA_MAPPE / "tettbebyggelse.gpkg")

In [ ]:
myr, innsjo, apentomrade, dyrketmark, gravplass, havflate, industriomrade, skog, sportidrettplass, steinbrudd, tettbebyggelse

In [18]:
joined = pd.concat([myr, innsjo, apentomrade, dyrketmark, gravplass, havflate, industriomrade, skog, sportidrettplass, steinbrudd, tettbebyggelse])

In [19]:
joined

,gml_id,oppdateringsdato,klasse,klasse_navn,geometry
0,idd51cad71-d02b-4043-833b-8a6e50539af0,2016-12-02,100,myr,"POLYGON ((265791.900 6614994.650, 265790.180 6..."
1,id41c8ac6e-b5ce-4657-958c-312c27dafd9a,2016-12-02,100,myr,"POLYGON ((262206.270 6628558.130, 262202.640 6..."
2,ide574839d-8f33-4b1e-bc44-01a865a1beb9,2016-12-02,100,myr,"POLYGON ((265299.880 6621504.120, 265294.080 6..."
3,id2aa8beeb-8a23-4159-ae85-d218ead88c9f,2016-12-02,100,myr,"POLYGON ((260561.580 6622897.200, 260562.110 6..."
4,iddf0f9506-8358-49ae-bd65-b496cd4571be,2016-12-02,100,myr,"POLYGON ((265326.090 6621350.040, 265320.020 6..."
...,...,...,...,...,...
24,id8688ef9b-9e63-4ee0-8d13-5bddbf16e9a8,2024-05-06,120,tettbebyggelse,"POLYGON ((264495.760 6627874.970, 264495.310 6..."
25,idc06fab68-012a-45cb-a7a9-0b4875e4870f,2024-05-06,120,tettbebyggelse,"POLYGON ((264428.770 6627393.320, 264429.130 6..."
26,idbd95d1b3-99a3-4e05-b970-14ded79f31e6,2023-03-21,120,tettbebyggelse,"POLYGON ((264328.880 6627669.330, 264329.240 6..."
27,id3bb07481-6824-4b39-8e45-4f2dea49abaf,2024-01-25,120,tettbebyggelse,"POLYGON ((262436.510 6622047.280, 262438.610 6..."
28,id385f787c-b96e-4a0d-8769-ccb6dbd183de,2016-12-02,120,tettbebyggelse,"POLYGON ((264288.040 6627606.730, 264280.250 6..."

In [20]:
joined.to_file("ArealdekkeN50.gpkg", driver="GPKG")